@import '/media';
@font-face {
    font-family: 'italian';
    src: url('../fonts/Pacifico-Regular.ttf') format('truetype');
}

.min-w {
    min-width: 21rem;
}

.line {
    height: 7px;
    width: 160px;
    background-color: #0E293E;
    position: absolute;
    bottom: 0;
}

.bb {
    border-bottom: 5px #0E293E solid;
    padding-bottom: 10px;
}

.space-bg-blue {
    background-color: #0E293E;
    color: white;
}

.ligthen-blue {
    color: lighten(#0E293E, 20%)
}

.filter-1 {
    overflow: hidden;
    position: relative;
    span {
        z-index: 20;
    }
    &:after {
        background-color: white;
        content: "";
        height: 9px;
        left: -20px;
        opacity: .2;
        position: absolute;
        top: 0px;
        transform: rotate(-48deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: 60;
    }
}

.filter-1:hover {
    &:after {
        left: 120%;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
}

.bg-space-sm {
    background-image: url("../image/flowers.jpg");
}

.italian-font {
    font-family: italian;
}

.react-slideshow-container .default-nav {
    background-color: #FFD001;
    color: white;
}

.center-slider {
    margin: 0 auto;
    width: 500px;
}

.bg-bngold {
    background-image: url("../image/black-gold.jpg");
    background-size: cover;
}

.bg-space-blue {
    background-image: url("../image/flowers.jpg");
    background-size: cover;
    height: 18rem;
}

.bg-space-red {
    background-image: url("../image/space-red.jpg");
    background-size: cover;
    height: 18rem;
}

.bg-space-green {
    background-image: url("../image/space-green.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.pattern-one {
    background-image: url("../image/99namesImage_3.jpg");
    background-repeat: repeat;
}

.pattern-two {
    background-image: url("../image/asmaquran.jpg");
    padding-top: 10px;
    background-size: cover;
}

.contents {
    display: contents;
}

.asmaquran {
    display: inline-block;
}

.pattern-one {
    background-image: url(../image/99namesImage_3.jpg);
    color: black;
    background-repeat: repeat
}

.pattern-two {
    background-image: url(../image/asmaquran.jpg);
    background-size: cover;
}