.bg-space {
  background-image: url("../image/background-space.jpeg");
  background-size: cover;
}
.bg-space-red {
  background-image: url("../image/space-red.jpg");
  background-size: cover;
}
.pattern-one {
  background-image: url(../image/99namesImage_3.jpg);
  background-repeat: repeat;
}
.pattern-two {
  background-image: url(../image/asmaquran.jpg);
  padding-top: 10px;
  background-size: cover;
}

.asmaquran {
  display: inline-block;
}

.pattern-one {
  background-image: url(../image/99namesImage_3.jpg);
  color: black;
  background-repeat: repeat
}
.pattern-two {
  background-image: url(../image/asmaquran.jpg);
  background-size: cover;
}


@media only screen and (min-width: 650px) {
  .box {
    width: 59vw;
  }
}

 
@media only screen and (min-width: 768px) and (max-width: 845px) {
  .box {
    width: 35vw;
  }
}

@media only screen and (min-width: 768px) {
  .box {
    width: 35vw;
    margin-right: 2vw;
  }
}

@media only screen and (min-width: 1024px) {
  .box {
    width: 40vw;
  }
}

@media only screen and (min-width: 1440px) {
  .box {
    width: 30vw;
  }
}
